.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 3rem;
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
}

.textarea {
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    width: 100%;
    resize: none;
    font-size: 1.5rem;
}
